/* 左边菜单选项样式 */
.left li{
	/* 	background-color: #E0FFFF; */
	margin-left:0px;
	float:left;
	min-width:135px;
/* 	margin-right:25px; */
	height: 40px;
	text-align:center;
	font-size:18px;
	color: #575757;
/* 	border:2px solid #FF6347; */
	list-style-type:none; /*去掉前方小点· */
	cursor: pointer; /*更改鼠标图案*/
}

/* 左边菜单样式 中间个人头像 */
.image-left{	
	position:absolute;
	left:18%;
	top:7.5%;
	width:50px;
	height:50px;
	border-radius:25px;
	cursor:pointer;
	z-index:991;
}
/* 我的菜单位置 */
.left .left-ul{
	position:absolute;
	left:1%;
	top:20%;
}
/* 我 用户名位置 */
.left .username-left{
	position:absolute;
	left:48%;
	top:10.5%;
	cursor:pointer;
}
